<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>05_姓名案例_watch实现</title>
    <!-- 引入Vue -->
    <script type="text/javascript" src="../js/vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script> -->
</head>

<body>
    <!-- 准备好一个容器 -->
    <div id="root">
        姓：<input type="text" v-model="firstName"><br/><br/>
        名：<input type="text" v-model="lastName"><br><br>
        <!-- slice(index,step)，截取，不包含step -->
        全名：<span>{{fullName}}</span>
    </div>

    <script type="text/javascript">
        // Vue.config.productionTip = false //阻止vue在启动时生成生产提示。
        
        const vm = new Vue({
            el:'#root',
            data:{
                firstName:'张',
                lastName:'三',
                fullName:'张-三',
            },
            watch:{
                firstName(newValue,oldValue){
                    this.fullName = newValue + '-' + oldValue
                },
                lastName(){

                }
                // data(){
                //     return  this.firstName + this.lastName 
                // }
            }
        })
    </script>
</body>
</html>